.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.container {
  margin: 0 auto;
  width: 90%;
  height: 100vh;
  position: relative;
}

.slick-next:before, .slick-prev:before {
  color: #9e9e9e;
}

.slick-slider > button {
  z-index: 99999;
}

.siteNavBar {
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: lighter;
  color: grey;
}

.siteNavBar > h1 {
  font-size: 30px;
  font-weight: lighter;
}

.siteNavBar > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.siteNavBar > div > div {
  margin-left: 30px;
}
/*.slick-list {
    height: auto !important;
}*/
/*.slick-slide {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px;

}
.slick-slide.slick-active {
  left: 0 !important;
  border: none !important;
  margin: 0 auto !important;
  height: initial !important;
  clip: initial !important;
  overflow: visible !important;
  padding: inherit !important;
  position: inherit !important;
}*/
